
BCG_Gamma-Interview-Codes/BCG_WorkXP/Task_1/Task Description.pptx
BCG_Gamma-Interview-Codes/BCG_WorkXP/Task_2/Background_info/~$ta Description.docx
BCG_Gamma-Interview-Codes/BCG_WorkXP/Task_2/Background_info/~$Task Description.pptx
